.list-item {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 2px solid blueviolet;
  padding: 5px;
}
.items {
}
.list-item button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 0;
  background-color: black;
  color: white;
  font-size: 10px;
}
.list-item button:hover {
  background-color: grey;
}
